* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
   
}
/* Asel's CSS starts */

header {
    position:fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100vw;
    border-bottom: 1px solid whitesmoke;
    background-color: white;  
}

.header-left img {
    position: fixed;
    top:10px;
    left: 50px;
    width: 80px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
}

.header-left {
    display: flex;
    align-items: center;
    flex: 0.25;
    width: 260px;
}

.header-left span {
    position: fixed;
    top: 10px;
    left: 13px;
    cursor: pointer;
    padding: 5px;
}

.header-middle {
    position: fixed;
    top: 5px;
    left: 205px;
    display: flex;
    flex: 0.7;
    align-items: center;
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 5px;
    height: 6%;
    width: 40%;
    z-index: 15;
}

.search-change {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}

.header-middle input {
    width: 100%;
    height: 30px;
    border:none;
    padding: 10px;
    background-color:transparent;
    font-size: small;
    outline: none;
}

.material-icons {
    cursor: pointer;
    color: grey;
    padding: 5px;
}

.header-right {
    position: fixed;
    top: 10px;
    right: 20px;
    display: flex;
    justify-content: end;
}
/* By default show sidebar links */
.sidebar-links {
    position: fixed;
    top: 70px;
    left: 0;
    width: 265px;
    height: auto;
    line-height: 1.5;
    transition: all 0.5s ease-out;
    transform: translate(0);
}

/* Toggle sidebar class */
.hide-sidebar {
    transform: translate(-85%);
}

/* By default hide support links */
.support-links {
    height: 0;
    display: none;
}

/* Toggle support class */
.show-support {
    position: fixed;
    top: 50px;
    right: 100px;
    width: 20%;
    height: 28%;
    background-color: white;
    display: grid;
    grid-template-rows: auto;
    row-gap: 5px;
    padding-top: 10px;
    font-size: 0.8rem;
    border: 1px solid #e6e0e0; 
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
} 

a#support, a {
    text-decoration: none;
    color: black;

}

ul li {
    list-style-type: none;
    padding-left: 5px;
}

div.feedback {
    border-top: 1px solid #e6e0e0;
    padding-top: 3px;
}

li.support-li:hover, a:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

ul.support-links {
    padding-left:5px;
}

.material-icons:hover {
    background-color: whitesmoke;
    border-radius: 50%;
    cursor: pointer;
}

img#profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding-top: 10px;
}

span#camera {
    position: absolute;
    top: 50px;
    right: 38px;
    margin-top: 10px;
    z-index: 3;
}

.account-info {
    position: fixed;
    top: 60px;
    right: 15px;
    width: 28%;
    height: 60%;
    border: 1px solid #e6e0e0;
    border-radius: 5px;
    text-align: center;
    display: grid;
    grid-template-rows: auto;
    row-gap: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 0.7rem; 
    background-color: white;
    z-index: 2;
}

/* Toggle account info */
.hide-account-info {
    height: 0;
    display: none;
}

a#manage-account {
    border: 1px solid #e6e0e0;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
}

div.another-account {
    border: 1px solid #e6e0e0;
    border-left:none;
    border-right: none;
    padding: 10px;
}

div.another-account:hover {
    background-color: whitesmoke;
}

button[type="submit"].sign-out {
    font-size: 0.7rem;
    background-color: transparent;
    border: 1px solid #e6e0e0;
    border-radius: 6px;
    padding: 5px;
}

button[type="submit"].sign-out:hover {
    background-color: #e6e0e0;
    cursor: pointer;
}

.account-footer {
    font-size: 0.6rem;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-top: 1px solid #e6e0e0;
}

 div.google-apps {
    position: fixed;
    top: 60px;
    right: 15px;
    width: 30%;
    height: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    font-size: 0.7rem;
    border: 1px solid #e6e0e0; 
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
    padding-left: 0;
    text-align: center;
    z-index: 2;
}

.hide-apps {
    height: 0;
    display: none;
}

ul.apps {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.2rem;  
    justify-content: center;
    padding-left: 0;
}

ul.apps li:hover {
    background-color: whitesmoke;
}

ul.draw-line {
    border-top: 1px solid #e6e0e0;
    padding-top: 10px;
}

a#more-apps {
    border: 1px solid #e6e0e0;
    color: rgb(63, 131, 233);
    padding: 5px;
}

div.more-apps {
    margin-bottom: 10px;
}
/* Asel's CSS ends */


/* Uliana's CSS starts */

main {
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.gmail-logo{
    height: 80%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   padding-top: 50px;
    
   
}
.centerpiece{
    display: flex;
    flex-direction: column;
    align-items:initial;
    width: 100%;
    background-color: rgb(128, 128, 128, 0.5);
   
    
}
.pagenation{
    background-color: none;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    color: white;
    font-size: 13px;
    padding-right: 15px;
}

.left{
    display: flex;
    align-items: center;
    

}
.right{
    display: flex;
    align-items: center;

}
.selectAll{
    height: 37px;
    width: 49px;
    /* border: 1px solid beige;
    border-radius: 5px; */
    margin-left: 14px;
    display: flex;
    align-items: center;
}
.selectAll .tooltiptext {
    visibility: hidden;
    width: 55px;
    height: 20px;
    background-color: rgb(91, 90, 90);
    color: #fff;
    text-align: center;
    padding: 2px 2px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    margin-top: 60px;
  }
#checkbox:hover{
    border: -5px solid gray;
    
}
  
#checkbox {
    margin-left: 2px;
    margin-right: 1px;
}
.selectAll:hover .tooltiptext {
    visibility: visible;
  }
.checkboxHover{
    width: 29px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
 
}
.checkboxHover:hover{
    border: 1px solid rgba(108, 107, 107, 0.5);
    background-color: rgba(108, 107, 107, 0.5);
}
.checkboxHover:hover input{
    border: 2px solid rgb(253, 251, 251);
} 

.arrowHover{
    width: 19px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.arrowHover:hover{
    border: 1px solid rgba(108, 107, 107, 0.5);
    background-color: rgba(108, 107, 107, 0.5);
}

.arrow_drop_down{
    height: 20px;
    margin-top: -2px;
    fill: rgba(231, 228, 228, 0.807);
}
.arrow_drop_down:hover{
    fill: rgb(250, 249, 249);
}
.arrowHover:hover svg{
    fill:#fff;
    }
.refreshContainer{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    
}
.refreshContainer:hover{
    border: 1px solid rgba(108, 107, 107, 0.5);
    border-radius: 50%;
    background-color: rgba(97, 97, 97, 0.5);
    
}
.refreshContainer .tooltiptext {
    visibility: hidden;
    width: 55px;
    height: 20px;
    background-color: rgb(91, 90, 90);
    color: #fff;
    text-align: center;
    padding: 2px 2px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    margin-top: 60px;
    margin-left: 5px;
  }
  .refreshContainer:hover .tooltiptext {
    visibility: visible;
  }
.refresh{
    height: 21px;
    fill: rgba(231, 228, 228, 0.807);
   
}
.refresh:hover{
    fill: rgb(250, 249, 249);
}
.refreshContainer:hover svg{
    fill:#fff;
    }
.more {
    height: 20px;
    fill: rgba(231, 228, 228, 0.807);
}
.more:hover{
    fill: rgb(250, 249, 249);
}
.moreHover:hover svg{
fill:#fff;

}
.moreHover{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
}
.moreHover:hover{
    border: 1px solid rgba(108, 107, 107, 0.5);
    border-radius: 50%;
    background-color: rgba(97, 97, 97, 0.5);
}
.moreHover .tooltiptext {
    visibility: hidden;
    width: 55px;
    height: 20px;
    background-color: rgb(91, 90, 90);
    color: #fff;
    text-align: center;
    padding: 2px 2px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    margin-top: 60px;
    margin-left: 5px;
  }
  .moreHover:hover .tooltiptext {
    visibility: visible;
  }
.arrow_left, .arrow_right {
    width: 18px;
    margin: 0 10px;
}
.arrow_left{
    fill:rgb(178, 176, 176);
}
.input_tools{
    width: 20px;
    margin-left: 8px;
}
.arrow_drop_down_right{
    margin-right: 3px;
}
.p-s-p {
    background-color: rgb(128, 128, 128, 0.5);
    height: 50px;
    display: flex;
    border-bottom: 2px solid gray;
    box-shadow: 0 2px 4px #262626 
}
.p-s-p section {
   background-color: none;
   border: none;
   width: 271px;
   text-align: left;
   color: white;
   font-size: 14px;
   display: flex;
   flex-direction: row;
   align-items: center;
   font-weight: 400;
}
.p_s_p_icon {
    margin-left: 18px;
    height: 23px;
}
.p_s_p_text {
    margin-left: 15px;
    
}
.p_s_p_icons {
    height: 17px;
}


.centerpiece{
    height: 100vh;
    overflow: scroll;
    height: 100vh;
   
}
footer{
    height: 65px;
    background-color: black;     
   color: white;
   text-align: center;
   padding-top: 12px;
   font-size: 13px;
  
}
footer a{
    text-decoration: none;
    color: white;
    margin-right: 8px;    
   
}
.footerOne{
    display: flex;
}
.footerTwo{
    display: flex;
    justify-content: space-between;
}

.left-side-menu{
    background-color: bisque;
    width: 260px;
    height: 100vh;
}

.right-side-menu {
    background-color: rgb(60, 63, 110);
    width: 60px;
    height: 100vh;

  
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background-color: none;
    border: 2px solid rgb(178, 176, 176);
    border-radius: 2.5px;
    cursor: pointer;
  
  }
  input[type="checkbox"]:hover {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background-color: none;
    border: 2px solid rgb(253, 251, 251);
    border-radius: 2.5px;
    cursor: pointer;
    margin-left: 20px;
  }

  .email{
    background-color: rgb(128, 128, 128, 0.5);
    height: 37.5px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid grey;
   

}
.one{
    display: flex;
    align-items: center;
    justify-content:left;
 
   
}

.checkBoxHover{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid wheat;
    border-radius: 50%; */
    margin-left: -11px;
}
.starHover{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid wheat;
    border-radius: 50%; */
    margin-left: -7px;
  
}
.importantHover{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid wheat;
    border-radius: 50%; */
    margin-right: 8px;
    margin-left: -7px;
  
    
}
.email-list{
    margin: 0;
    padding: 0;
   

}


.sender{
    width: 150px;
    overflow-x: hidden;
    white-space: nowrap;
    margin-right: 40px;
    
}
.subject{
    max-width: 1000px;
    white-space: nowrap;
    overflow-x: hidden;
    margin-left: 10px;

}
.emailContent{
    font-weight: 400;
    color: rgb(190, 190, 190);
    max-width: 1000px;
    overflow-x: hidden;
    white-space: nowrap;
}
.time{
    width: 60px;
    margin-left: 40px;
    font-size: 13px;
   
   
  
}
.drag{
    margin: 0;
    visibility: hidden;
    fill: rgba(231, 228, 228, 0.807)
}
.email:hover .drag{
    visibility: visible;
}

/* rgba(231, 228, 228, 0.807) */
/* Uliana's CSS ends */


