* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;  
}
/* Asel's CSS starts */

header {
    position:fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100vw;
    border-bottom: 1px solid whitesmoke;
    background-color: white;  
}

.header-left img {
    position: fixed;
    top:10px;
    left: 50px;
    width: 80px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
}

.header-left {
    display: flex;
    align-items: center;
    flex: 0.25;
    width: 260px;
    height: 50px;
}

.header-left span {
    position: fixed;
    top: 10px;
    left: 13px;
    cursor: pointer;
    padding: 5px;
}

.header-middle {
    position: fixed;
    top: 5px;
    left: 205px;
    display: flex;
    flex: 0.7;
    align-items: center;
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 5px;
    height: 40px;
    width: 400px;
    z-index: 15;
}

.search-change {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}

.header-middle input {
    width: 100%;
    height: 30px;
    border:none;
    padding: 10px;
    background-color:transparent;
    font-size: small;
    outline: none;
}

.material-icons {
    cursor: pointer;
    color: grey;
    padding: 5px;
}

.header-right {
    position: fixed;
    top: 10px;
    right: 20px;
    display: flex;
    justify-content: end;
}
/* By default show sidebar links */
.sidebar-links .left-side-menu{
    position: fixed;
    top: 70px;
    left: 0;
    width: 265px;
    height: auto;
    line-height: 1.5;
    transition: all 0.5s ease-out;
    transform: translate(0);
}

/* Toggle sidebar class */
.hide-sidebar {
    transform: translate(-80%);
}

/* By default hide support links */
.support-links {
    height: 0;
    display: none;
}

/* Toggle support class */
.show-support {
    position: fixed;
    top: 50px;
    right: 100px;
    width: 20%;
    height: 28%;
    background-color: white;
    display: grid;
    grid-template-rows: auto;
    row-gap: 5px;
    padding-top: 10px;
    font-size: 0.8rem;
    border: 1px solid #e6e0e0; 
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
} 

a#support, a {
    text-decoration: none;
    color: black;

}

ul.suppor-links li, ul.apps li {
    list-style-type: none;
    padding-left: 5px;
}

div.feedback {
    border-top: 1px solid #e6e0e0;
    padding-top: 3px;
}

li.support-li:hover, a:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

ul.support-links {
    padding-left:5px;
}

.material-icons:hover {
    background-color: whitesmoke;
    border-radius: 50%;
    cursor: pointer;
}

img#profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding-top: 10px;
}

span#camera {
    position: absolute;
    top: 50px;
    right: 38px;
    margin-top: 10px;
    z-index: 3;
}

.account-info {
    position: fixed;
    top: 60px;
    right: 15px;
    width: 28%;
    height: 60%;
    border: 1px solid #e6e0e0;
    border-radius: 5px;
    text-align: center;
    display: grid;
    grid-template-rows: auto;
    row-gap: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 0.7rem; 
    background-color: white;
    z-index: 2;
}

/* Toggle account info */
.hide-account-info {
    height: 0;
    display: none;
}

a#manage-account {
    border: 1px solid #e6e0e0;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
}

div.another-account {
    border: 1px solid #e6e0e0;
    border-left:none;
    border-right: none;
    padding: 10px;
}

div.another-account:hover {
    background-color: whitesmoke;
}

button[type="submit"].sign-out {
    font-size: 0.7rem;
    background-color: transparent;
    border: 1px solid #e6e0e0;
    border-radius: 6px;
    padding: 5px;
}

button[type="submit"].sign-out:hover {
    background-color: #e6e0e0;
    cursor: pointer;
}

.account-footer {
    font-size: 0.6rem;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-top: 1px solid #e6e0e0;
}

 div.google-apps {
    position: fixed;
    top: 60px;
    right: 15px;
    width: 30%;
    height: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    font-size: 0.7rem;
    border: 1px solid #e6e0e0; 
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
    padding-left: 0;
    text-align: center;
    z-index: 2;
}

.hide-apps {
    height: 0;
    display: none;
}

ul.apps {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.2rem;  
    justify-content: center;
    padding-left: 0;
}

ul.apps li:hover {
    background-color: whitesmoke;
}

ul.draw-line {
    border-top: 1px solid #e6e0e0;
    padding-top: 10px;
}

a#more-apps {
    border: 1px solid #e6e0e0;
    color: rgb(63, 131, 233);
    padding: 5px;
}

div.more-apps {
    margin-bottom: 10px;
}
/* Asel's CSS ends */

/* Gulya's part starts */
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;  
    height: 100vh;
}

#sidebar-left {
    flex: 0.3;
    max-width: 265px;
    padding-top: 15px;
    overflow: hidden;
    height: 270px;
    border-bottom: 1px solid whitesmoke;
    position: relative;
}

.left-menu {
    transition: all 0.2s ease;
    height: 100vh;
    background-color: white;
}
#sidebar-left{
    border-top: 1px solid whitesmoke;
}
#sidebar-left:hover {
    overflow-y: auto;
}
#compose {
    border-bottom: 1px solid whitesmoke;
    overflow: hidden;
    height: 86px;
}
.composebtn {
    background-color: white;
    padding: 13px 15px;
    border-radius: 50%;
    font-size: medium;
    margin: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
    display: none;
}
.composebtn-displayed {
    background-color: white;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: medium;
    margin: 10px;
    position: relative;
    position: absolute;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
    width: 180px;
    flex-wrap: wrap;
    height: 50px;
}
.composebtn-displayed div {
    padding-right: 10px;
}
.composebtn-displayed p {
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#sidebarIcons {
    position: relative;
    display: inline; 
    display: flex;
    align-items: center;
    height: 40px;
    width: 200px;
    padding: 0 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}
#sidebarIcons .material-icons{
    padding: 0 10px;
}
#sidebarIcons #arrow {
    padding-right: 0.5px;
}
#sidebarIcons #label {
    padding: 1px;
}
#sidebarIcons h3 {
    flex: 1;
    margin-left: 11px;
    font-size: 15px;
    font-weight: 400;
}
.totalInbox, .totalSnum, .totalPnum, .totalSpam {
    font-size: small;
}
#arrowRight {
    padding: 0px !important;
}
#sidebarIcons:hover,
#sidebarIcons:hover h3 {
    background-color: rgb(240, 238, 238);
}
.tooltip-text {
    display: none;
    position: absolute;
    text-align: center;
    left: 70%;
    top: -30%;
    width: 75px;
    background-color: gray;
    color: white;
    font-size: 13px;
    font-weight: 500;
    padding: 3px 0px;
    border-radius: 7px;
}
.tooltip-textW {
    display: none;
    position: absolute;
    text-align: center;
    left: 45%;
    top: -30%;
    width: 130px;
    background-color: gray;
    color: white;
    font-size: 13px;
    font-weight: 500;
    padding: 3px 0px;
    border-radius: 7px;
}
#sidebarIcons:hover .tooltip-text {
    display: block;
}
#sidebarIcons:hover .tooltip-textW {
    display: block;
}
::-webkit-scrollbar {
    width: 10px;
} 
::-webkit-scrollbar-thumb {
    background: rgb(188, 185, 185); 
    box-shadow: inset 0 0 5px grey; 
}
::-webkit-scrollbar-truck:hover {
box-shadow: inset 0 0 3px grey; 
border-radius: 10px; 
}
#meet, #hangouts {
    overflow: hidden;
    border-bottom: 1px solid whitesmoke;
}
#meet h3{
    display: flex;
    align-items: center;
}
#displayedMp, #displayedHp {
    padding-left: 15px;
    font-size: 15px;
    margin: 15px;
}

#sidebarIcons .add {
    padding-right: 0px;
    padding-left: 45px;
}

div#leftSideFooter {
    margin-top: 110px;
    height: 40px;
    width: 240px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    color: white;
    text-align: center;
    border-top: 1px solid whitesmoke;
}  


.footer-button-account, .footer-button-chat, .footer-button  {
    background-color: white;
    border: none;
} 

/* js classes starts */
.active {
    max-width: 73px;
}
.fixed {
    max-width: 265px;
}
.changeColor{
    background-color: rgb(200, 196, 196);
}
.changeColorpink{
    background-color: rgb(244, 212, 212);
     color: rgb(234, 17, 17);
}
.changeColorblue{
    background-color: rgb(213, 227, 246);
     color:  #1a73e8;;
}
.changeColorgreen{
    background-color: rgb(213, 246, 238);
     color: #188038;
}
/* js classes ends */
/* Gulya's part ends */


/* Uliana's CSS starts */

main {
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.gmail-logo{
    height: 80%;
}

/* .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   padding-top: 50px;
   width: 100%;
    
   
} */
.centerpiece{
    display: flex;
    flex-direction: column;
    align-items:initial;
    width: 100%;
    background-color: rgb(128, 128, 128, 0.5);
    padding: 0;

}
.pagenation{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    color: rgb(108, 108, 108);
    font-size: 13px;
    padding-right: 15px;
    position: sticky;
    top: 0;
    
    
    width: 100%;
    background-color: white;

}

.pages{
    margin-right: 10px;
}

.left{
    display: flex;
    align-items: center;
}

  
 


.right{
    display: flex;
    align-items: center;
    justify-content: end;

}
.selectAll{
    height: 37px;
    width: 49px;
    /* border: 1px solid beige;
    border-radius: 5px; */
    margin-left: 14px;
    display: flex;
    align-items: center;
}
.selectAll .tooltiptext {
    visibility: hidden;
    width: 55px;
    height: 20px;
    background-color: rgb(91, 90, 90);
    color: #fff;
    text-align: center;
    padding: 2px 2px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    margin-top: 60px;
  }
#checkbox:hover{
    border: -5px solid gray;
    
}
  
#checkbox {
    margin-left: 2px;
    margin-right: 1px;
}
.selectAll:hover .tooltiptext {
    visibility: visible;
  }
.checkboxHover{
    width: 29px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
 
}
.checkboxHover:hover{
    border: 1px solid rgba(108, 107, 107, 0.5);
    background-color: rgba(108, 107, 107, 0.5);
}
.checkboxHover:hover input{
    border: 2px solid rgb(253, 251, 251);
} 

.arrowHover{
    width: 19px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.arrowHover:hover{
    border: 1px solid rgba(108, 107, 107, 0.5);
    background-color: rgba(108, 107, 107, 0.5);
}

.arrow_drop_down{
    height: 20px;
    margin-top: -2px;
    fill: rgba(231, 228, 228, 0.807);
}
.arrow_drop_down:hover{
    fill: rgb(250, 249, 249);
}
.arrowHover:hover svg{
    fill:#fff;
    }
.refreshContainer{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    
}
.refreshContainer:hover{
    border: 1px solid rgba(108, 107, 107, 0.5);
    border-radius: 50%;
    background-color: rgba(97, 97, 97, 0.5);
    
}
.refreshContainer .tooltiptext {
    visibility: hidden;
    width: 55px;
    height: 20px;
    background-color: rgb(91, 90, 90);
    color: #fff;
    text-align: center;
    padding: 2px 2px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    margin-top: 60px;
    margin-left: 5px;
  }
  .refreshContainer:hover .tooltiptext {
    visibility: visible;
  }
.refresh{
    height: 21px;
    fill: rgba(231, 228, 228, 0.807);
   
}
.refresh:hover{
    fill: rgb(250, 249, 249);
}
.refreshContainer:hover svg{
    fill:#fff;
    }
.more {
    height: 20px;
    fill: rgba(231, 228, 228, 0.807);
}
.more:hover{
    fill: rgb(250, 249, 249);
}
.moreHover:hover svg{
fill:#fff;

}
.moreHover{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
}
.moreHover:hover{
    border: 1px solid rgba(108, 107, 107, 0.5);
    border-radius: 50%;
    background-color: rgba(97, 97, 97, 0.5);
}
.moreHover .tooltiptext {
    visibility: hidden;
    width: 55px;
    height: 20px;
    background-color: rgb(91, 90, 90);
    color: #fff;
    text-align: center;
    padding: 2px 2px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    margin-top: 60px;
    margin-left: 5px;
  }
  .moreHover:hover .tooltiptext {
    visibility: visible;
  }
.arrow_left, .arrow_right {
    width: 18px;
    margin: 0 10px;
}
.arrow_right{
    fill: grey;
}
.arrow_left{
    fill:rgb(178, 176, 176);
}
.input_tools{
    width: 20px;
    margin-left: 8px;
    
}
.input_tools{
    fill: gray;
}
.arrow_drop_down_right{
    margin-right: 3px;
}
.p-s-p {
    background-color: rgb(128, 128, 128, 0.5);
    height: 50px;
    display: flex;
    border-bottom: 2px solid gray;
    box-shadow: 0 2px 4px #262626;
  
    width: 100%;
}
.p-s-p section {
   background-color: none;
   border: none;
   width: 271px;
   text-align: left;
   color: white;
   font-size: 14px;
   display: flex;
   flex-direction: row;
   align-items: center;
   font-weight: 400;
}
.p_s_p_icon {
    margin-left: 18px;
    height: 23px;
}
.p_s_p_text {
    margin-left: 15px;
    
}
.p_s_p_icons {
    height: 17px;
}


.centerpiece{
    height: 100vh;
    overflow-y: scroll;
    height: 100vh;
   
}
footer{
    height: 65px;
    background-color: rgb(110, 109, 109);     
   color: white;
   text-align: center;
   padding-top: 12px;
   font-size: 13px;
   bottom: 0;
   margin-bottom: 0;
   
}
footer a{
    text-decoration: none;
    color: white;
    margin-right: 8px;    
   
}
.footerOne{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.footerTwo{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 7px;
   
}
.footerTwo svg {
    height: 19px;
}
.footerLinks{
    display: flex;
    align-items: center;
    width: 300px;
}
.bar{
    display: flex;
    align-items: center;
}
.barleft{
    width: 150px;
    height: 7px;
    border: 1px solid white;
    background-color: white;
    margin-left: 10px;
    border-radius: 6px;
    z-index: 2;
    /* border-bottom-left-radius: 6px;
    border-top-left-radius: 6px; */
}
.barright{
    width:80px;
    height: 7px;
    border: 1px solid rgb(183, 182, 182);
    background-color: rgb(179, 179, 179);
    margin-left: -5px;
    border-radius: 6px;
}


.left-side-menu{
    background-color: bisque;
    width: 260px;
    height: 100vh;
}

.right-side-menu {
    background-color: rgb(60, 63, 110);
    width: 60px;
    height: 100vh;

  
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background-color: none;
    border: 2px solid rgb(178, 176, 176);
    border-radius: 2.5px;
    cursor: pointer;
    margin-left: 8px;
  
  }
  input[type="checkbox"]:hover {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background-color: none;
    border: 2px solid rgb(253, 251, 251);
    border-radius: 2.5px;
    cursor: pointer;
    /* margin-left: 20px; */
  }

  .email{
    background-color: rgb(128, 128, 128, 0.5);
    height: 37.5px;
    display: flex;
    
    align-items: center;
    justify-content:space-between;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid grey;
    

}

.checkBoxHover{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid wheat;
    border-radius: 50%; */
    margin-left: -11px;
}
.starHover{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid wheat;
    border-radius: 50%; */
    margin-left: 2px;
  
}
.importantHover{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid wheat;
    border-radius: 50%; */
    margin-right: 8px;
 
  
    
}
.email-list{
    margin: 0;
    padding: 0;
   

}


.sender{
    width: 150px;
    overflow-x: hidden;
    white-space: nowrap;
    margin-right: 40px;
    
}
.one{
    display: flex;
    align-items: center;
    justify-content:left;
    width: 90%;
    width: calc(100% - 100px);
    overflow-x: hidden;
}

.subject{
    max-width: 100%;
    width: calc(100% - 100px);
    white-space: nowrap;
    overflow-x: hidden;
    margin-left: 10px;

}
.emailContent{
    font-weight: 400;
    color: rgb(190, 190, 190);
    overflow-x: hidden;
    white-space: nowrap;
    
}
.time{
    width: 30px;
    margin-left: 40px;
    font-size: 13px;
    margin-right: 12px;
    overflow-x: hidden;
    display: flex;
    justify-content: end;
  
}
.drag{
    margin: 0;
    visibility: hidden;
    fill: rgba(231, 228, 228, 0.807)
}
.email:hover .drag{
    visibility: visible;
}

/* rgba(231, 228, 228, 0.807) */
/* Uliana's CSS ends */

.openEmail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   padding-top: 50px;
   width: 100%;
    background-color: #fff;
   
}
.Three {
    display: flex;
    justify-content: start;
    align-items: center;


}
.pagenationTwo{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    color: rgb(108, 108, 108);
    font-size: 13px;
    padding-right: 15px;
   width: 100%;
   position: sticky;
   top: 0;
   background-color: white;
}
.pagenationTwo svg{
    fill: rgb(192, 191, 191);
}
.leftEmail{
    display: flex;
    align-items: center;
}
.Hover{
    width:35px;
    margin-right: 10px;
    margin-left: 10px;
}

.oneOf, .twoOf{
    border-right: 1px solid rgb(247, 246, 246);
    margin-right: 10px;
    margin-left: 10px;
}
.emailHeader{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    color: rgb(108, 108, 108);
    font-size: 13px;
    width: 100%;
    background-color: white;
    
  
}
.leftSide{
    display: flex;
    align-items: center;
    justify-content: start;
}
.rightSide{
    display: flex;
    align-items: center;
}
.emailSubject{
    display: flex;
    align-items: row;
    width: 50vw;
   white-space: nowrap;
   font-size: 20px;
   margin-left: 77px;
}
.importantThree{
    display: flex;
    align-items: center;
    justify-content:start;
    margin-left: 20px;
    width: 50%;
    height:24px;
}
.removeLabel{
    height: 20px;
    width: 20px;
    fill: gray;
}
.removeLabel.Hover{
    height: 25.3px;
    display: flex;
    align-items: center;
    width: 15px;
    margin-left: 0px;
    border: 1px solid gainsboro;
    background-color: gainsboro;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.inbox{
    font-size: 16px;
}
.inbox.Hover{
    margin-right: 0px;
    border: 1px solid gainsboro;
    width: 50px;
    padding: 2px;
    background-color: gainsboro;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.importantLabel{
    fill:rgb(123, 122, 122)
    
}
.emailHeader svg{
    fill: grey;
}
.emailSender{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    color: rgb(108, 108, 108);
    font-size: 13px;
    width: 100%;

    background-color: white;
}
.emailSender svg{
    fill: gray;
}
.leftPart{
    display: flex;
    align-items: center;

}
.rightPart{
    display: flex;
    align-items: center;
    width: 20vw;
    justify-content: end;
}
.rightSide .Hover{
    width: 20px;
    
}
.rightSide{
    margin-right: 10px;
}
.emailText{
    width: 76.7vw;
    width: 90%;
    width: calc(100% - 100px);
    margin-left: 76px;
    background-color: rgb(208, 208, 208);
    margin-bottom: 35px;
}
.toMe{
    display: flex;
    align-items: center;
    width: 100px;
}
.toMe svg{
    width: 20px;
}
.arrowB{
    border: 1px solid rgb(182, 179, 179);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: gainsboro;
    margin-left: 5px;
    border-radius: 5px;
}
.senderIcon{
   margin-left: 10px;
   margin-right: 7px;
}
.senderEmail{
    margin-left: 10px;
}
.Hover.toMe{
    margin: 0;
}
.time{
    white-space: nowrap;
    width: 130px;
}
.emailTextAndButtons{
    background-color: #fff;
}
.buttonsInEmail{
    padding-bottom: 40px;
    margin-left: 75px;
    width: 300px;

    
}
.buttonsInEmail button{
    padding: 0;
    margin-right: 10px;


}
.buttonsEmail{
   width: 110px;
   height: 40px;
   font-size: 15px;
   display: flex;
   align-items: center;
   background-color: white;
   padding: 0;
 
  

}
.buttonsEmail svg{
    fill: rgb(65, 64, 64);
    margin-right: 10px;
    margin-left: 10px;
}