* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
   
}

main {
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: auto;
}
.header {
    background-color: aliceblue;
    height: 65px;

}
.gmail-logo{
    height: 80%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.centerpiece{
    display: flex;
    flex-direction: column;
    align-items:initial;
    width: 100%;
    background-color: rgb(128, 128, 128, 0.5);
}
.pagenation{
    background-color: none;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    color: white;
    font-size: 13px;
}

.left{
    display: flex;
    align-items: center;

}
.right{
    display: flex;
    align-items: center;

}
.selectAll{
    height: 37px;
    width: 49px;
    /* border: 1px solid beige;
    border-radius: 5px; */
    margin-left: 14px;
    display: flex;
    align-items: center;
}
.selectAll .tooltiptext {
    visibility: hidden;
    width: 55px;
    height: 20px;
    background-color: rgb(91, 90, 90);
    color: #fff;
    text-align: center;
    padding: 2px 2px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    margin-top: 60px;
  }
#checkbox:hover{
    border: -5px solid gray;
    
}
  
#checkbox {
    margin-left: 2px;
    margin-right: 1px;
}
.selectAll:hover .tooltiptext {
    visibility: visible;
  }
.checkboxHover{
    width: 29px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
 
}
.checkboxHover:hover{
    border: 1px solid rgba(108, 107, 107, 0.5);
    background-color: rgba(108, 107, 107, 0.5);
}
.checkboxHover:hover input{
    border: 2px solid rgb(253, 251, 251);
} 

.arrowHover{
    width: 19px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.arrowHover:hover{
    border: 1px solid rgba(108, 107, 107, 0.5);
    background-color: rgba(108, 107, 107, 0.5);
}

.arrow_drop_down{
    height: 20px;
    margin-top: -2px;
    fill: rgba(231, 228, 228, 0.807);
}
.arrow_drop_down:hover{
    fill: rgb(250, 249, 249);
}
.arrowHover:hover svg{
    fill:#fff;
    }
.refreshContainer{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    
}
.refreshContainer:hover{
    border: 1px solid rgba(108, 107, 107, 0.5);
    border-radius: 50%;
    background-color: rgba(97, 97, 97, 0.5);
    
}
.refreshContainer .tooltiptext {
    visibility: hidden;
    width: 55px;
    height: 20px;
    background-color: rgb(91, 90, 90);
    color: #fff;
    text-align: center;
    padding: 2px 2px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    margin-top: 60px;
    margin-left: 5px;
  }
  .refreshContainer:hover .tooltiptext {
    visibility: visible;
  }
.refresh{
    height: 21px;
    fill: rgba(231, 228, 228, 0.807);
   
}
.refresh:hover{
    fill: rgb(250, 249, 249);
}
.refreshContainer:hover svg{
    fill:#fff;
    }
.more {
    height: 20px;
    fill: rgba(231, 228, 228, 0.807);
}
.more:hover{
    fill: rgb(250, 249, 249);
}
.moreHover:hover svg{
fill:#fff;

}
.moreHover{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
}
.moreHover:hover{
    border: 1px solid rgba(108, 107, 107, 0.5);
    border-radius: 50%;
    background-color: rgba(97, 97, 97, 0.5);
}
.moreHover .tooltiptext {
    visibility: hidden;
    width: 55px;
    height: 20px;
    background-color: rgb(91, 90, 90);
    color: #fff;
    text-align: center;
    padding: 2px 2px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    margin-top: 60px;
    margin-left: 5px;
  }
  .moreHover:hover .tooltiptext {
    visibility: visible;
  }
.arrow_left, .arrow_right {
    width: 18px;
    margin: 0 10px;
}
.arrow_left{
    fill:rgb(178, 176, 176);
}
.input_tools{
    width: 20px;
}
.arrow_drop_down_right{
    margin-right: 3px;
}
.p-s-p {
    background-color: rgb(128, 128, 128, 0.5);
    height: 50px;
    display: flex;
}
.p-s-p section {
   background-color: none;
   border: none;
   width: 200px;
   text-align: left;
   color: white;
   font-size: 14px;
   display: flex;
   flex-direction: row;
   align-items: center;
   font-weight: 400;
}
.p_s_p_icon {
    margin-left: 18px;
    height: 23px;
}
.p_s_p_text {
    margin-left: 15px;
    
}
.p_s_p_icons {
    height: 17px;
}


.emails{
    overflow: auto;
}
.email{
    background-color: rgb(128, 128, 128, 0.5);
    height: 40px;
}
.left-side-menu{
    background-color: bisque;
    width: 260px;
    height: 94.5vh;
}

.right-side-menu {
    background-color: rgb(60, 63, 110);
    width: 60px;
    height: 94.5vh;

  
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background-color: none;
    border: 2px solid rgb(178, 176, 176);
    border-radius: 2.5px;
    cursor: pointer;
    margin-left: 20px;
  }
  input[type="checkbox"]:hover {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background-color: none;
    border: 2px solid rgb(253, 251, 251);
    border-radius: 2.5px;
    cursor: pointer;
    margin-left: 20px;
  }